@import url("https://fonts.googleapis.com/css?family=Montserrat:light,regular,medium|Oswald:extralight,regular&display=swap");

/* Color Theme Swatches in RGBA */
.Letha_Color-Blind-Safe-Theme-1-rgba {
	color: rgba(0, 13, 64, 1);
}
.Letha_Color-Blind-Safe-Theme-2-rgba {
	color: rgba(1, 24, 107, 1);
}
.Letha_Color-Blind-Safe-Theme-3-rgba {
	color: rgba(252, 252, 252, 1);
}
.Letha_Color-Blind-Safe-Theme-4-rgba {
	color: rgba(0, 0, 0, 1);
}
.Letha_Color-Blind-Safe-Theme-5-rgba {
	color: rgba(227, 227, 227, 1);
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6rem;
	background-color: rgba(252, 252, 252, 1);
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
main {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

h2,
h3,
h4 {
	font-family: "Oswald", sans-serif;
	font-weight: 200;
	color: rgba(0, 13, 64, 1);
	text-shadow: 1px 1px 1px rgba(227, 227, 227, 1);
}
.productDetailsResultContainer h2 {
	color: rgba(252, 252, 252, 1);
	text-decoration: underline;
	margin-bottom: 2.5rem;
}

h1,
#titleBar {
	font-size: 2rem;
	color: rgba(252, 252, 252, 1);
}
h2,
.headerTopBarLeft i,
.fas.fa-home {
	font-size: 1.5rem;
}
h3,
h4 {
	font-size: 1.2rem;
}
h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	color: rgba(0, 13, 64, 1);
	text-shadow: 2px 2px 5px rgba(227, 227, 227, 1);
	text-decoration: underline;
}

.currentPage,
,
.standardButton {
	font-weight: 500;
	color: rgba(252, 252, 252, 1);
	text-decoration: underline;
	text-decoration-color: rgba(252, 252, 252, 1);
	padding: 0.5rem;
	border: 2px solid rgba(252, 252, 252, 0.5);
	border-radius: 4px;
}

#topNavBar ul,
.standardButton,
#sidebarMenu,
#contactForm,
.headerTitleBar,
.sidebarMenuInner li:hover,
.sidebarMenuInner li a:hover,
.sidebarMenuInner li:active,
.sidebarMenuInner li a:active,
.currentPage,
.productCategoryMenu li a:hover,
.standardButtonInverted:hover,
.container .back:hover,
#shoppingCart:hover,
.footerContainer,
.productDetailsResultContainer {
	background-color: #01186b;
	background-image: linear-gradient(
		225deg,
		#01186b 0%,
		#000d40 33%,
		#000d40 66%,
		#01186b 100%
	);
}
.currentPage,
#topNavBar ul,
#sidebarMenu,
#contactForm,
.headerTitleBar,
.footerContainer,
.productDetailsResultContainer {
	border-top: 2px solid rgba(252, 252, 252, 0.5);
	border-bottom: 2px solid rgba(252, 252, 252, 0.5);
}
.standardButtonInverted:active {
	border: 2px solid rgba(252, 252, 252, 1);
}

.standardButton:active {
	border: 2px solid rgba(0, 13, 64, 1);
}

.productCategoryTitle {
	color: #000d40;
	margin: 2rem 0;
}

a,
.headerTopBarLeft a,
.titleContactForm {
	text-decoration: none;
	color: rgba(0, 13, 64, 1);
}

#topNavBar ul a:hover,
.standardButton:hover,
.standardButtonInverted:hover {
	text-decoration: underline;
	color: rgba(0, 13, 64, 1);
	text-shadow: 0.2px 0.2px 0.5px rgba(227, 227, 227, 0.5);
}

.standardButton:hover,
.standardButtonInverted:hover {
	background: #c9fccf;
	border: 1px solid rgba(0, 13, 64, 1);
}

i {
	padding: 0 0.2rem;
}

/*Header Styles*/

.headerContentWrap {
	width: 100%;
	position: relative;
}

.headerTopBarLeft {
	display: flex;
	width: 90%;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	text-align: center;
	font-weight: 500;
	padding: 0 0.5rem;
	margin: 0 auto;
}
.headerTopBarRight {
	max-width: 100%;
}

i.fas.fa-plane {
	transform: rotate(-40deg);
}

#topNavBar ul,
.productCategoryMenu {
	display: flex;
	flex-flow: row nowrap;
}

.productCategoryMenu {
	justify-content: space-evenly;
	align-items: center;
	padding-left: 0;
}
.productCategoryMenu li a:hover,
.back a:hover {
	padding: 0.5rem;
	cursor: pointer;
	color: #fcfcfc;
	text-decoration: none;
}
.productCategoryMenu li a:active,
.back a:active,
.container .back:active {
	text-decoration: underline;
}

#topNavBar ul {
	justify-content: space-evenly;
	align-items: center;
	padding: 0.5rem 0;
	font-size: 0.9rem;
}
.topNavBarMenuInner li,
.productCategoryMenu {
	list-style-type: none;
}

.topNavBarMenuInner li {
	color: rgba(252, 252, 252, 1);
	padding: 0.5rem;
	cursor: pointer;
	text-align: center;
}

.headerTopBarLeft a:hover,
.headerTopBarLeft a:active {
	font-size: 0.9rem;
	text-decoration: underline;
}

.competitionTextContainer a:hover,
.competitionTextContainer a:active,
.topNavBarMenuInner li:hover {
	color: rgba(0, 13, 64, 1);
}

.standardButtonInverted,
#topNavBar ul a:hover {
	background: rgba(252, 252, 252, 1);
	color: rgba(0, 13, 64, 1);
	border: 2px solid rgba(1, 24, 107, 1);
}

.standardButton,
.standardButtonInverted {
	width: 160px;
	height: 55px;
	margin: 2rem 0;
	box-shadow: 2px 2px 5px rgba(0, 13, 64, 0.5);
	border-radius: 4px;
	padding: 0.5rem 0 1rem;
	cursor: pointer;
}

.logoWrap {
	text-align: center;
	color: #01186b;
	width: 100%;
	margin: 1rem auto 2rem;
}

#shoppingCart {
	position: absolute;
	top: 12rem;
	right: 2rem;
	border: 2px solid rgba(0, 13, 64, 1);
	border-radius: 4px;
	padding: 0.5rem;
	background: #c9fccf;
}

#shoppingCart a:hover {
	color: #fcfcfc;
}

.logo {
	font-size: 5rem;
	letter-spacing: 0.8rem;
	text-decoration: underline;
	margin: 0 auto;
	line-height: normal;
}

#logoText {
	margin-bottom: 5rem;
}

.headerTitleBar {
	width: 100%;
	text-align: center;
}
#titleBar {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.5rem;
	padding: 1rem;
	line-height: 1.6rem;
}

.productCategoryItemsContainer {
	width: 100%;
	margin: 2rem auto 4rem;
	text-align: left;
}
.productCategoryItemsResults {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	align-items: center;
	justify-content: space-evenly;
	text-align: left;
}

.singleResultFlexContainer {
	width: 45%;
	max-width: 350px;
	min-width: 280px;
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem auto 2rem;
	padding: 0.5rem;
	justify-content: left;
	text-align: left;
}

.categoryImage {
	width: 100%;
	min-height: 200px;
}
.availableSizes {
	padding-top: 1.5rem;
}

.add-to-cart-button .standardButton,
.view-more-button .standardButtonInverted {
	margin: 0.5rem auto;
	padding: 0;
}

.singleResultProduct {
	width: 60%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 1rem;
	align-items: baseline;
	justify-content: center;
}

.productCategoryFlexContainer {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 3rem auto 6rem;
	justify-content: center;
	align-items: center;
}

.firstItemContainer,
.secondItemContainer,
.thirdItemContainer,
.fourthItemContainer {
	width: 100%;
	height: auto;
	margin: 1rem auto;
	position: relative;
	max-width: 600px;
}

.firstItemContainer img,
.secondItemContainer img,
.thirdItemContainer img,
.fourthItemContainer img {
	width: 100%;
	height: auto;
	max-width: 600px;
}

.productCategoryFlexContainer h2 {
	text-transform: uppercase;
	margin: 0;
	padding: 0.1rem 0.2rem 0.5rem;
	font-size: 3rem;
	line-height: 3rem;
	color: rgba(252, 252, 252, 1);
	text-shadow: 2px 2px 6px rgba(0, 13, 64, 1);
	text-decoration: underline;
	text-decoration-color: rgba(252, 252, 252, 1);
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	background: rgba(0, 13, 64, 0.1);
	border-radius: 8px;
}

.firstItemContainer h2:hover,
.secondItemContainer h2:hover,
.thirdItemContainer h2:hover,
.fourthItemContainer h2:hover {
	color: rgba(0, 13, 64, 1);
	text-decoration: none;
	background-color: rgba(252, 252, 252, 0.9);
	text-shadow: 1px 1px 1px rgba(1, 24, 107, 0.5);
}

.bottomSectionWrap {
	width: 100%;
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: space-between;
	align-items: center;
	border: 4px solid rgba(1, 24, 107, 1);
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(0, 13, 64, 0.5);
	min-height: 800px;
	margin: 0 auto 4rem;
}

.competitionWrapContainer {
	width: 100%;
	background: url(..//images//okul_sneakers_w610xh760.jpg) no-repeat left;
	height: 760px;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
}
.competitionTextContainer {
	background: rgba(1, 24, 107, 0.4);
	padding: 2rem 4rem;
}

#competitionHeader {
	font-size: 3.5rem;
	position: absolute;
	top: 1rem;
	text-decoration: underline;
	color: rgba(252, 252, 252, 1);
	text-shadow: 3px 3px 6px rgba(0, 13, 64, 1);
}
.competitionTextContainer h3,
.competitionTextContainer h5,
.competitionTextContainer a {
	color: rgba(252, 252, 252, 1);
	text-shadow: 0.2px 0.2px 0.5px rgba(0, 13, 64, 1);
	font-weight: 400;
	line-height: 2rem;
}
.modal-content {
	background: rgba(252, 252, 252, 1);
	padding: 1rem;
	color: rgba(0, 13, 64, 1);
}

.latestArrivalsHeader {
	margin-bottom: 1rem;
	color: rgba(0, 13, 64, 1);
	font-size: 2rem;
	margin: 0 auto 1rem;
}
.latestArrivalsVideoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 480px;
	height: 720px;
	margin: 3rem auto 0;
}
video {
	margin: 0 auto;
}

.trustpilot-widget {
	margin: 6rem auto 4rem;
}

.copyrightText {
	width: 100%;
	margin: 2rem auto;
}
#copyright {
	color: rgba(252, 252, 252, 1);
	font-size: 0.8rem;
}

textarea {
	padding: 10px;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid rgba(0, 13, 64, 1);
	box-shadow: 1px 1px 2px rgba(227, 227, 227, 1);
}

.footerContainer {
	width: 100%;
	padding: 1rem;
}

#comment {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 400px;
	height: 200px;
}

textarea:invalid,
input:invalid {
	border: 2px dashed red;
}
textarea:invalid:required {
	background: rgba(255, 0, 0, 0.2);
}

textarea:valid {
	border: 2px solid rgba(0, 13, 64, 1);
}

#contactForm {
	margin: 2rem auto 10rem;
	max-width: 760px;
}
.titleContactForm {
	margin: 2rem auto 3rem;
}
/*StarRating Styles*/

.starRatingContainer {
	border: 2px solid rgba(0, 13, 64, 1);
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 100%;
	min-width: 240px;
	text-align: center;
	margin: 0 auto;
}

#starRatingTitle {
	margin: 0 auto;
}

.starRating {
	width: 100%;
	max-width: 120px;
	height: 44px;
	margin: 0 auto;
	display: flex;
	flex-flow: row-reverse nowrap;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
}

.starRating input {
	display: none;
}

.starRating label {
	color: rgba(255, 208, 0);
	cursor: pointer;
}

.starRating :checked ~ label {
	color: rgb(255, 208, 0);
}

.starRating label:hover,
.starRating label:hover ~ label {
	color: rgba(255, 208, 0, 0.5);
}

.productDetailsResultContainer {
	width: 95%;
	padding: 2rem;
	margin: 2rem auto;
}

.product-details-flexbox {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.product-main-image {
	width: 100%;
	max-width: 600px;
}

.galleryflexbox {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.galleryflexbox img {
	max-width: 140px;
	margin: 0.5rem;
}

.product-description::first-line {
	text-decoration: underline;
	line-height: 3rem;
}

.product-description-flexbox {
	display: flex;
	flex-flow: column nowrap;
	justify-content: left;
	align-items: center;
	padding: 2rem 1.5rem;
}
.product-description-flexbox .add-to-cart-button {
	margin: 2rem auto;
}
.singleResultFlexContainer h5,
.product-description-flexbox h5,
.availableSizes {
	font-weight: 500;
	font-size: 1.1rem;
}
.ProductCategoryResults,
.product-description-flexbox {
	background: rgb(252, 252, 252);
}

.product-description {
	width: 80%;
	text-align: left;
}

.note {
	padding: 1rem 0 0.5rem;
	color: #c9fccf;
	font-size: 0.8rem;
	text-shadow: 0.2px 0.2px 0.2px rgba(227, 227, 227, 0.8);
}

.container .back {
	text-align: left;
	padding: 0.5rem;
	max-width: 260px;
	border: 2px solid rgba(0, 13, 64, 1);
	border-radius: 4px;
	margin: 2rem 1rem 4rem;
	text-decoration: underline;
	font-size: 0.9rem;
}

.form-note {
	font-size: 0.8rem;
	color: rgba(252, 252, 252, 1);
	text-shadow: 2px 2px 4px rgb(146, 17, 17);
}

.formContainer {
	max-width: 760px;
	margin: 0 auto;
	text-align: center;
}

form {
	padding: 2em;
	background: white;
	border-radius: 1rem;
	text-align: left;
}

input {
	width: 100%;
	margin-top: 0.5rem;
	padding: 1rem;
	border-radius: 4px;
}

label {
	display: block;
	margin-top: 0.5rem;
	color: rgba(252, 252, 252, 1);
	text-shadow: 0.2px 0.2px 0.2px rgba(227, 227, 227, 0.8);
}
.form-error {
	display: none;
	color: rgba(252, 252, 252, 1);
	text-shadow: 2px 2px 4px rgb(146, 17, 17);
	font-size: 0.9rem;
}

.errorMessage,
.validationErrorMessage {
	border: 4px ridge rgb(233, 4, 4);
	padding: 1.5rem;
	margin: 2rem;
	max-width: 600px;
	color: rgb(187, 3, 3);
	background: rgb(187, 3, 3, 0.2);
}

.successMessage {
	border: 4px ridge rgb(0, 185, 0);
	padding: 1.5rem;
	margin: 2rem;
	max-width: 600px;
	color: rgba(15, 128, 15);
	background: rgba(15, 128, 15, 0.2);
}

/*-----------loader--------------*/

@keyframes ldio-rejz39jvdup {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.ldio-rejz39jvdup div {
	position: absolute;
	animation: ldio-rejz39jvdup 1s linear infinite;
	width: 80px;
	height: 80px;
	top: 30px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 0 5px 0 0 rgba(1, 24, 107, 1);
	transform-origin: 40px 41px;
}
.loadingio-spinner-eclipse-1st9d88f161j {
	width: 120px;
	height: 120px;
	display: inline-block;
	overflow: hidden;
	background: rgba(252, 252, 252, 1);
}
.ldio-rejz39jvdup {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-rejz39jvdup div {
	box-sizing: content-box;
}
/* generated by https://loading.io/ */

.logoWrap {
	margin-top: 5rem;
}

/*HamburgerMenuStyles*/

#sidebarMenu {
	height: 100%;
	position: absolute;
	left: 0;
	width: 200px;
	margin-top: 4rem;
	transform: translateX(-250px);
	transition: transform 250ms ease-in-out;
}

.sidebarMenuInner {
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(252, 252, 252, 0.1);
}

.sidebarMenuInner li {
	list-style: none;
	color: rgba(0, 13, 64, 1);
	padding: 1rem;
	cursor: pointer;
	border-bottom: 1px solid rgba(252, 252, 252, 0.5);
}

.sidebarMenuInner li a {
	color: rgba(252, 252, 252, 1);
	cursor: pointer;
	text-decoration: none;
}

.sidebarMenuInner li:hover,
.sidebarMenuInner li a:hover {
	text-decoration: underline;
	text-decoration-color: rgba(252, 252, 252, 1);
}
.sidebarMenuInner li:active {
	border-bottom: 2px solid rgba(252, 252, 252, 1);
	border-top: 1px solid rgba(252, 252, 252, 1);
}

/*HamburgerMenu Toggle Button*/

input[type="checkbox"]:checked ~ #sidebarMenu {
	transform: translateX(0);
}

input[type="checkbox"] {
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}

.sidebarIconToggle {
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	z-index: 1001;
	height: 100%;
	width: 100%;
	top: 10rem;
	left: 1rem;
	height: 40px;
	width: 40px;
}

.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: rgba(0, 13, 64, 1);
}

.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin: 8px 0;
	padding: 2.5px;
}

.diagonal.part-1 {
	position: relative;
	transition: all 0.3s;
	box-sizing: border-box;
	float: left;
	padding: 2.5px;
}

.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	padding: 2.5px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-135deg);
	margin-top: -25px;
}

/*@media-quieries*/

@media (max-width: 400px) {
	html {
		font-size: 13px;
	}

	.headerTopBarLeft {
		width: 100%;
	}
	.productCategoryMenu {
		display: none;
	}
	#shoppingCart {
		top: 14rem;
		right: 1rem;
	}
	.sidebarIconToggle {
		top: 14rem;

		height: 33px;
		width: 33px;
	}

	.logoWrap {
		margin-top: 10rem;
	}
}

@media only screen and (min-width: 600px) {
	.headerHamburgerMenu {
		display: none;
	}
}

@media only screen and (min-width: 800px) {
	.headerTopBarFlexboxWrap {
		width: 100%;
		display: flex;
		flex-flow: row-reverse nowrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	.headerTopBarLeft {
		width: 40%;
		margin: 0;
		padding-top: 0.5rem;
	}
	#shippingDeliveryLink,
	#returnsLink {
		padding-right: 0.5rem;
	}
	.headerTopBarRight {
		width: 60%;
		text-align: left;
	}
	#topNavBar ul {
		justify-content: space-between;
		align-items: center;
		padding: 0.25rem;
	}

	.productCategoryMenu {
		font-size: 1.2rem;
	}

	.firstItemContainer,
	.secondItemContainer,
	.thirdItemContainer,
	.fourthItemContainer {
		width: 45%;
		margin: 0.3rem;
	}

	.productDetailsResultContainer {
		padding: 6rem 4rem;
	}

	.product-details-flexbox {
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
	}
	.product-image-container {
		width: 50%;
		text-align: left;
		background: rgba(252, 252, 252, 1);
	}
	.product-description-flexbox {
		width: 50%;
		justify-content: flex-end;
	}

	.bottomSectionWrap {
		width: 95%;
	}
}

@media only screen and (min-width: 1000px) {
	.latestArrivalsVideoContainer {
		margin: 0 auto;
	}
	.bottomSectionWrap {
		align-items: flex-end;
		padding: 2rem 1rem;
	}
}
